.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: white;
  height: 55px;
  
}

.logo {
  display: flex;
  align-items: center;
  padding: 0%;
  cursor: pointer;
}

.logo-image {
  width: 30px;
  margin-right: 10px;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
}

.logo p {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  transform: scaleY(0.8);
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  /* margin-right: 80px; */
  overflow: hidden;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}