/* SocialMedia.css */
.container{
    background-color: rgb(16, 62, 97);
}

.social-media-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 10%;
    margin-bottom: 30%;
  }

  
  .social-media-container h1 {
    margin-bottom: 20px;
    white-space: nowrap;
  }
  
  .social-media-item {
    width: 30%;
    justify-content: start;
    padding: 20px;
    cursor: pointer;
  }
  
  .social-media-item img {
    height: 15vh;
    margin-bottom: 10px;
  }
  

  
  .social-media-item p {
    margin-bottom: 0;
  }
  