body {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}
nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
} */

/* #home {
  background-color: #222;
} */

/* Add styles for other sections */

/* #about {
  background-color: #333;
} */

/* #media {
  background-color: #222;
} */

/* #news {
  background-color: #333;
} */




/* #social-media {
  background-color: #555;
} */


/* #contact-us {
  background-color: #666;
} */

